/* CUSTOM STYLES */
body {
    font-family: 'Inter', sans-serif;
    font-size: 110%;
}

.row {
    margin: 0;
}

h1, h2, h3 {
    font-weight: 700;
}

header h1 {
    color: #FFF;
}

.searchColumn {
    background-color: #EEEEEE;
}
#cityResults {
    width: 100%;
}
#buttons-view{
    background-color: #FBFBFB;
    width: 100%;
}

.card-body {
    padding: 1.25rem 0;
}

.card {
    background-color: aliceblue;
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (min-width: 768px) {

}

@media (min-width: 576px) {

}